input:hover{
    color: rebeccapurple;
    border-color: blue;
}
input:focus{
    background-color: rgba(255, 0, 0, 0.192);
    color: rgb(208, 255, 0);
    outline-color: chartreuse;
}
a:active{
    color: rgb(255, 0, 255);
}

a:visited{
    color: red;
    text-decoration: none;
}
a:hover{
    color: aqua;
    transition: all .5s;
    text-decoration: none;
}

.numberone li:first-child {
    color: red;
}
/* .numbertwo li:nth-of-type(1){
    color: aqua;
} */

    /* jor shonkha gual kora jay jemon 2,4,,6 */
/* .numbertwo li:nth-child(2n) {
    color: aqua;
} */
 /* child a odd likhle jor jor kore kaj kore */
.numbertwo li:nth-child(odd) {
    color: aqua;
}


.numberthree:nth-child(){
    color: red;
}
.position-container{
    border: 1px solid blue;
    position: relative;
}
.photo img{
    border: 1px solid red;
    width: 200px;
}
/* .one{
    position: relative;
    top: -50px;
    left: 40px;
} */
/* .two{
    position: absolute ;
    left: 50px;
    bottom: 1px;
} */
.thrid{
    position: sticky;
    top: 0px;
}
.test-container{
    margin-top: 10px;
    background-color: #f5f5;
    display: flex;
    gap: 20px;
}
.only-text img{
    width: 290px;
}
.only-text{
    width: 300px;
    border: 1px solid darkblue;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #5d5fe7;
}
.stikey{
    position: sticky;
    top: 0;
}