.photo-container{
    width: 500px;
    height: 800px;
}
.index img{
    width: 300px;
    height: 400px;
}
.index{
    position: relative;
}
.tomas{
    top: 403px;
    z-index: 1;
}
.nasa img{
    height: 250px;
}
.nasa{
    top: -450px;
    z-index: 2;
    left: -69px;
}

h2::after{
    content: "pdg";
    font-size: 9px;

}